<h1>Here is the recipe:</h1>
<h2><%= @recipe.name %></h2>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.cook_time %></p>

<a href=<%= "#{@recipe.id}/edit" %>>Edit the recipe</a>
<a href=<%= "/recipes" %>>Back to all recipes</a>
